/* Write your code here. */

.btnStyle {
  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  cursor: pointer;
}

.smallImg {
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.thumbnail-list-item {
  margin-right: 16px;
  margin-bottom: 16px;
}
<<<<<<< HEAD
=======

>>>>>>> 23b74e67209173465aac6731d3c0de6dc8d9c420
